---
import "/styles/styles.css";
import panelScript from '/scripts/script.js';
---

<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>21 D칤as Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/Imagenes/PI.png" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
<div id="map"></div>
<button class="estudia-btn" onclick="abrirEstudia()">Estudia</button>
<div id="overlay" class="modal-overlay" onclick="cerrarTodo()"></div>

<!-- Estudia -->
<div id="modalPi" class="modal">
  <span class="close-btn" onclick="cerrarTodo()">칑</span>
  <h2 style="font-family: 'KGPerfectPenmanship', Arial, sans-serif;">쯉ab칤as que  es?</h2>
  <p>3.14159265358979323846264338327950288419716939937510</p>
  <button class="modal-btn" onclick="practicar()">Practicar</button>
</div>

<!-- Practica -->
<div id="modalPractica" class="modal">
  <span class="close-btn" onclick="cerrarTodo()">칑</span>
  <h2 style="font-family: 'KGPerfectPenmanship', Arial, sans-serif;">Escribe los d칤gitos de :</h2>
  <input type="text" id="piInput" class="pi-input" placeholder="Empieza por 3.14...">
  <button class="modal-btn" onclick="comprobar()">Comprobar</button>
  <div id="resultado" class="resultado"></div>
</div>

<!-- Info -->
<div id="modalInfo" class="modal">
  <span class="close-btn" onclick="cerrarTodo()">칑</span>
  <h2 style="font-family: 'KGPerfectPenmanship', Arial, sans-serif; text-decoration: underline;">Informaci칩n</h2>
  <div class="info-text">
    쮺칩mo sabemos d칩nde est치 Nil Ojeda, Misho y Guanyar?<br><br>
    En sus redes publican una serie de pistas que la comunidad las resuelve y aqu칤 ponemos la direcci칩n en el mapa a base de sus historias.
  </div>

<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Confirmado Alicante 游댮 <a href="https://t.co/PS6OSlo708">pic.twitter.com/PS6OSlo708</a></p>&mdash; NilNoTeEscapas (@nilnoteescapas) <a href="https://twitter.com/nilnoteescapas/status/1923000325134319937?ref_src=twsrc%5Etfw">May 15, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet"><p lang="es" dir="ltr">游늸Alicante <br>En la historia de Alex Hawkers pone un restaurante de Alicante, que tiene sentido porque el es de all칤 y adem치s tamb칤en habia leido que el 칰ltimo d칤a ser칤a ah칤. Pero bueno como siempre os digo si no hay pruebas no me fio al 100%, la otra opci칩n es Ibiza <a href="https://t.co/f21sagNXq4">pic.twitter.com/f21sagNXq4</a></p>&mdash; Radar - 21 D칤as (@21diasradar) <a href="https://twitter.com/21diasradar/status/1923006546134405546?ref_src=twsrc%5Etfw">May 15, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <br>
  <p>~ Creado por MikeTroll YT ~</p>
</div>

<!-- Alerta -->
<div id="Alerta" class="alerta">
<span class="close-btn" onclick="cerrarTodo()">칑</span>
  <h2 style="font-family: 'KGPerfectPenmanship', Arial, sans-serif; text-decoration: underline;">Aviso</h2>
  <div class="info-text" style="text-align: center;">
    Esta p치gina web ha cumplido su misi칩n y permanecer치 aqu칤 como un recuerdo.
    <br><hr>
    Muchas gracias a....
    <br>
    <a style="text-decoration: none;" href="https://twitter.com/nilnoteescapas">@nilnoteescapas</a>
    <br>
    <a style="text-decoration: none;" href="https://twitter.com/21diasradar">@21diasradar</a>
    <br>
    <a style="text-decoration: none;" href="https://twitter.com/nilogeospy">@nilogeospy</a>
    <br>
    Y por supuesto al mejor y el que le ha dado soporte a la p치gina web <a style="text-decoration: none;" href="https://twitter.com/Josecortes__07">@Josecortes__07</a>
    <hr>
  </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/scripts/script.js?v=13.0" type="module" client:load></script>
</body>
</html>
