---
import "../styles/styles.css";
import panelScript from '/scripts/script.js';
---

<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>21 D칤as Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/Imagenes/PI.png" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
<div id="map"></div>
<button class="estudia-btn" onclick="abrirEstudia()">Estudia</button>
<div id="overlay" class="modal-overlay" onclick="cerrarTodo()"></div>

<!-- Estudia -->
<div id="modalPi" class="modal">
  <span class="close-btn" onclick="cerrarTodo()">칑</span>
  <h2 style="font-family: 'KGPerfectPenmanship', Arial, sans-serif;">쯉ab칤as que  es?</h2>
  <p>3.14159265358979323846264338327950288419716939937510</p>
  <button class="modal-btn" onclick="practicar()">Practicar</button>
</div>

<!-- Practica -->
<div id="modalPractica" class="modal">
  <span class="close-btn" onclick="cerrarTodo()">칑</span>
  <h2 style="font-family: 'KGPerfectPenmanship', Arial, sans-serif;">Escribe los d칤gitos de :</h2>
  <input type="text" id="piInput" class="pi-input" placeholder="Empieza por 3.14...">
  <button class="modal-btn" onclick="comprobar()">Comprobar</button>
  <div id="resultado" class="resultado"></div>
</div>

<!-- Info -->
<div id="modalInfo" class="modal">
  <span class="close-btn" onclick="cerrarTodo()">칑</span>
  <h2 style="font-family: 'KGPerfectPenmanship', Arial, sans-serif; text-decoration: underline;">Informaci칩n</h2>
  <div class="info-text">
    쮺칩mo sabemos d칩nde est치 Nil Ojeda, Misho y Guanyar?<br><br>
    En sus redes publican una serie de pistas que la comunidad las resuelve y aqu칤 ponemos la direcci칩n en el mapa a base de sus historias.
  </div>

  <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Confirmamos, est치n en Portugal. <a href="https://twitter.com/hashtag/NilOjedaNoTeEscapas?src=hash&amp;ref_src=twsrc%5Etfw">#NilOjedaNoTeEscapas</a> | Localizaci칩n: <a href="https://t.co/x67V9x563d">https://t.co/x67V9x563d</a> <a href="https://t.co/0qQFvu6Y7a">pic.twitter.com/0qQFvu6Y7a</a></p>&mdash; NilNoTeEscapas (@nilnoteescapas) <a href="https://twitter.com/nilnoteescapas/status/1918638076500275690?ref_src=twsrc%5Etfw">May 3, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <blockquote class="twitter-tweet"><p lang="es" dir="ltr">3/05/2025 12h55min<br>游늸41.8079549, -6.7532300<br>Av. Cidade de Zamora 24, 5300-111 Bragan칞a, Portugal<br>Ubicaci칩n de <a href="https://twitter.com/nilojeda?ref_src=twsrc%5Etfw">@nilojeda</a> <a href="https://twitter.com/MishoAmoli?ref_src=twsrc%5Etfw">@MishoAmoli</a> <a href="https://twitter.com/Guanyarr?ref_src=twsrc%5Etfw">@Guanyarr</a> <a href="https://twitter.com/souloneryounger?ref_src=twsrc%5Etfw">@souloneryounger</a> <br>Confirmado, estan en Portugal. <a href="https://t.co/fvMOOwbPZ1">pic.twitter.com/fvMOOwbPZ1</a></p>&mdash; Radar - 21 D칤as (@21diasradar) <a href="https://twitter.com/21diasradar/status/1918625787407663468?ref_src=twsrc%5Etfw">May 3, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <br>
  <p>~ Creado por MikeTroll YT ~</p>
</div>

<!-- Alerta -->
<div id="Alerta" class="alerta">
<span class="close-btn" onclick="cerrarTodo()">칑</span>
  <h2 style="font-family: 'KGPerfectPenmanship', Arial, sans-serif; text-decoration: underline;">Aviso</h2>
  <div class="info-text" style="text-align: center;">
    Hemos perdido la pista. Hace ya que Nil Ojeda, Misho y Guanyar no han puesto pistas en sus redes sociales y por ahora no lo tenemos localizados.
  </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/scripts/script.js?v=1.1" type="module" client:load></script>
</body>
</html>