---
import "../styles/styles.css";
import panelScript from '/scripts/script.js';
---

<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>21 D칤as Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/Imagenes/PI.png" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
<div id="map"></div>
<button class="estudia-btn" onclick="abrirEstudia()">Estudia</button>
<div id="overlay" class="modal-overlay" onclick="cerrarTodo()"></div>

<!-- Estudia -->
<div id="modalPi" class="modal">
  <span class="close-btn" onclick="cerrarTodo()">칑</span>
  <h2 style="font-family: 'KGPerfectPenmanship', Arial, sans-serif;">쯉ab칤as que  es?</h2>
  <p>3.14159265358979323846264338327950288419716939937510</p>
  <button class="modal-btn" onclick="practicar()">Practicar</button>
</div>

<!-- Practica -->
<div id="modalPractica" class="modal">
  <span class="close-btn" onclick="cerrarTodo()">칑</span>
  <h2 style="font-family: 'KGPerfectPenmanship', Arial, sans-serif;">Escribe los d칤gitos de :</h2>
  <input type="text" id="piInput" class="pi-input" placeholder="Empieza por 3.14...">
  <button class="modal-btn" onclick="comprobar()">Comprobar</button>
  <div id="resultado" class="resultado"></div>
</div>

<!-- Info -->
<div id="modalInfo" class="modal">
  <span class="close-btn" onclick="cerrarTodo()">칑</span>
  <h2 style="font-family: 'KGPerfectPenmanship', Arial, sans-serif; text-decoration: underline;">Informaci칩n</h2>
  <div class="info-text">
    쮺칩mo sabemos d칩nde est치 Nil Ojeda, Misho y Guanyar?<br><br>
    En sus redes publican una serie de pistas que la comunidad las resuelve y aqu칤 ponemos la direcci칩n en el mapa a base de sus historias.
  </div>

  <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Nil Ojeda, Misho y Guanyar est치n hoy en el 21 D칤as en...游늸El Barraco, 츼vila <a href="https://t.co/qUcD7SFfVf">pic.twitter.com/qUcD7SFfVf</a></p>&mdash; MikeTroll YT (@Josecortes__07) <a href="https://twitter.com/Josecortes__07/status/1917950220207267856?ref_src=twsrc%5Etfw">May 1, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <blockquote class="twitter-tweet"><p lang="es" dir="ltr">ATENCI칍N Se sabe d칩nde est치 Nil, acaba de subir esta foto, estoy buscando la localizaci칩n exacta, estar atentos <a href="https://t.co/AJgxIzK7oA">pic.twitter.com/AJgxIzK7oA</a></p>&mdash; NilNoTeEscapas (@nilnoteescapas) <a href="https://twitter.com/nilnoteescapas/status/1917941739966668865?ref_src=twsrc%5Etfw">May 1, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<!-- Alerta -->
<div id="Alerta" class="alerta">
<span class="close-btn" onclick="cerrarTodo()">칑</span>
  <h2 style="font-family: 'KGPerfectPenmanship', Arial, sans-serif; text-decoration: underline;">Aviso</h2>
  <div class="info-text">
    Hemos perdido la pista. Hace ya que Nil Ojeda, Misho y Guanyar no han puesto pistas en sus redes sociales y por ahora no lo tenemos localizados.
  </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/scripts/script.js" type="module" client:load></script>
</body>
</html>